


.title_preview {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 21px; 
  padding-bottom: 60px;
  padding: 50px 80px 50px 80px;
}


.container_image_preview {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 10px;
  padding: 50px 80px 50px 80px;
}

.container_1 {
  padding: 0 80px 50px 80px;
  color: white;
  background-color: #1a1a1a;
}

.container_2 {
  padding: 0 80px 50px 80px;
  color: #1a1a1a;
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* position: relative; */
}

.house_preview {
  /* position: absolute; */
  width: 500px;
  height: 500px;
  margin-top: -150px;
  /* top: 0px; */
}

.container_preview {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.image_prev {
  cursor: pointer;
}

.image_prev > img {
  box-shadow: 0px 6px 20px rgba(106, 64, 41, 0.63);
  border-radius: 20px;
  
}

.image_prev > img:hover {
  box-shadow: 0px 6px 20px rgba(106, 64, 41, 0.63);
  transform: scale(1.2);
  cursor: pointer;
}





.card {
  width: 300px;
  height: 300px;
  background-color: #212121;
  box-shadow: 15px 15px 30px #191919,-15px -15px 30px #292929;
  transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
 }
 
 .card:hover {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  transform: scale(1.0);
 }



 /* .title_kontrakan {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 21px;
 } */
 




 /* preview */
 .card_preview {
  width: 150px;
  height: 150px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
  background: #fff;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  position: relative;
  transition: all .4s;
  background-color: #1a1a1a;
}

.card_preview::before {
  content: '-Preview-';
  cursor: pointer;
  letter-spacing: 0.2em;
  position: absolute;
  bottom: 8px;
  left: 20px;
  /* color: rgb(51, 51, 51); */
  color: #fff;
  font-size: 0.8em;
  font-weight: 700;
 }
 
 .card_preview img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
  cursor: pointer;
  z-index: 10;
  transition: all .4s;
  background-color: #fff;
 }
 
 .card_preview:hover img {
  transform: translateY(-30px);
 }




 .kontrakan_detail {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  padding: 50px 0 20px 0;
}

 .title_kontrakan {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 21px;
 }

 .owner_price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  padding-top: 20px;
 }


 .owner_price p {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  
 }

 .desc {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 20px;
 }

 .box_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  padding-top: 20px;
}

.data_profile > label {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px; 
}

.data_profile_1 {
  width: 20%;
}
.data_profile_1 > label {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px; 
}



/* booking */
.title_start {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}

.check {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  padding-top: 20px;
}

.check > label {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.check > input {
  outline: none;
  border: none;
  background-color: #1a1a1a;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}


.check_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  padding-top: 20px;
}

.check_1 > label {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.check_1 > input {
  outline: none;
  border: none;
  background-color: #1a1a1a;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}

.booking_btn {
  padding: 10px 20px;
  outline: none;
  border: none;
  color: #fff;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  border-radius: 20px;
  background-color: #1a1a1a;
  margin-top: 30px;
}
.error_massage {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: red;
  text-align: center;
  padding-top: 20px;
  height: 30px;
}