.container_left_right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  padding: 0 30px 0 30px;
  padding-top: 50px;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 50px;
  height: 700px;
}


.form_kontrakan {
  width: 100%;
  display: flex;
  flex-direction: column;
}


.title_kontrakan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  width: 100%;
}

.title_kontrakan > p {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #1a1a1a;
}





/* tabel */
.table_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
  border-top: 2px solid #1a1a1a;
  border-bottom: 2px solid #1a1a1a;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a1a1a;
  text-align: center;
}


.image {
 padding-left: 30px;
}

.name_kontrakan {
 padding-left: 80px;
}

.tipe {
 padding-left: 82px;
}

.location {
 padding-left: 120px;
}

.action {
 padding-left: 150px;  
}


.scroll {
  display: flex;
  flex-direction: column;
  height: 480px;
  overflow-y: scroll;
}

.btn_modal {
  padding: 10px 20px;
  margin-bottom: 20px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .btn_modal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .btn_modal:hover {
  color: #e8e8e8;
 }
 
 .btn_modal:hover::before {
  width: 100%;
 }


.btn_modal_2 {
  padding: 10px 20px;
  margin-bottom: 20px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .btn_modal_2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .btn_modal_2:hover {
  color: #e8e8e8;
 }
 
 .btn_modal_2:hover::before {
  width: 100%;
 }

.btn_modal_1 {
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .btn_modal_1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .btn_modal_1:hover {
  color: #e8e8e8;
 }
 
 .btn_modal_1:hover::before {
  width: 100%;
 }


 .form_name_kontrakan {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form_name_kontrakan > label {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.form_name_kontrakan > input {
  outline: none;
  border: none;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  border-bottom: 1px solid #1a1a1a;
  padding: 5px 0;
}

.form_address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}

.form_address > label {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.form_address > input {
  outline: none;
  border: none;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  border-bottom: 1px solid #1a1a1a;
  padding: 5px 0;
}

.form_location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
}

.form_location > label {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 10px;
}

.container_modals {
  width: 100%;
  overflow-y: scroll;
  height: 400px;
  /* padding: 0 20px 0 0; */
}

.container_image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 20px;
}

.choose_image {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.image_content {
  margin: 10px 0;
}

.image-preview {
  box-shadow: 10px -5px 0px #1a1a1a;
  object-fit: cover;
  padding: 2px;
  border: 2px solid black;
  border-radius: 10px;
}

.image_content > p {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.image_preview {   
  border: 2px dashed black;
  cursor: pointer;
}

.delete_image {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px;
  border-radius: 50px;
  transform: rotate(45deg);
  border: 2px solid white;
  color: white;
  font-size: 12px;
  cursor: pointer;
}