.container_left_right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  padding: 0 30px 0 30px;
  padding-top: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid black;
  border-radius: 10px;
}


.container_profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.image_profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}


/* .button_edit_password > button {
  border: none;
  background-color: #1a1a1a;
  border-radius: 10px;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: white;
  padding: 10px 20px;
}

.button_edit_password > button:hover {
  background-color: #4a4a4a;
} */

.image_profile > input {
  position: absolute;
  width: 60px;
  height: 50px;
  cursor: pointer;
  opacity: 0%;
}

.container_profile_1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}

.profile_picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.title_username {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.title_role {  
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
}

.container_form {
  display: flex;
  flex-direction: column;
  width: 100%;
}



/* content input */
.title_foto_profile {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.data_detail {
  padding: 40px 0 0 0;  
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title_data {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px; 
  margin-bottom: 20px;
}

.box_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
}

.data_profile > label {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px; 
}

.data_profile_1 {
  width: 100%;
} 

.data_profile_2 {
  width: 100%;
}

.data_profile_2 > label {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px; 
}
.data_profile_1 > label {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px; 
}


.noted {
  padding-top: 50px;
}

.noted > p {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;   
}



.btn_edit_password {
  padding: 10px 20px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .btn_edit_password::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .btn_edit_password:hover {
  color: #e8e8e8;
 }
 
 .btn_edit_password:hover::before {
  width: 100%;
 }


 /* card */
 .card {
   box-sizing: border-box;
   width: 190px;
   height: 254px;
   background: rgba(217, 217, 217, 0.58);
   border: 1px solid white;
   box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
   /* backdrop-filter: blur(3px); */
   -webkit-backdrop-filter: blur(8px);
   border-radius: 17px;
   text-align: center;
   transition: all 0.5s;
   display: flex;
   align-items: center;
   justify-content: center;
   /* user-select: none; */
   -webkit-user-select: none;
   font-weight: bolder;
   margin-right: 40px;
  }

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.image_card {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.card_title_fullname {
  width: 100%;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  padding-top: 10px;
  text-transform: uppercase;
}

.card_title_phone_number {
  width: 100%;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  /* line-height: 21px; */
}

.scroll {
  width: 100%;
  height: 400px;
  overflow-y: scroll;

}


/* text input */
.image_modal_preview {
  width: 90px;
  height: 90px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #1a1a1a;
  background-size: cover;
  border-radius: 50%;
}

.form_fullname {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form_fullname > label {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.form_fullname > input {
  outline: none;
  border: none;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  border-bottom: 1px solid #1a1a1a;
  padding: 5px 0;
}

.form_address {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form_address > label {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.form_address > input {
  outline: none;
  border: none;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  border-bottom: 1px solid #1a1a1a;
  padding: 5px 0;
}

.form_location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}

.form_location > label {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.form_location > input {
  outline: none;
  border: none;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  border-bottom: 1px solid #1a1a1a;
  padding: 5px 0;
}

.radio_gender {
  padding-top: 20px; 
}

.gender_title {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}


.btn_modal_1 {
  padding: 10px 20px;
  margin-bottom: 20px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin-right: 20px;
  margin-top: 30px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .btn_modal_1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .btn_modal_1:hover {
  color: #e8e8e8;
 }
 
 .btn_modal_1:hover::before {
  width: 100%;
 }

.btn_modal_2 {
  padding: 10px 20px;
  margin-bottom: 20px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .btn_modal_2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .btn_modal_2:hover {
  color: #e8e8e8;
 }
 
 .btn_modal_2:hover::before {
  width: 100%;
 }