.container_left_right {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}


.container_right {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  width: 70%;
  padding: 0 30px 0 30px;
  padding-top: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid black;
  border-radius: 10px;
}


.title_content {
  border-bottom: 2px solid #000;
  padding-bottom: 20px;
}

.title_data_account {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  /* line-height: 21px; */
  /* padding: 0 0 20px 0; */
}


.form_search {
  border: 1px solid #000;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  background-color: #1a1a1a;
}

.icon_style {
  font-size: 14px;
  border-right: 1px solid black;
  padding-right: 10px;
  color: white;
}

.input_search {
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 5px 10px;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 12px; 
}

.scroll {
  display: flex;
  flex-direction: column;
  height: 480px;
  overflow-y: scroll;
  padding: 20px;
}


.title_filter {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding-right: 45px;
  padding-top: 20px;
}


.container_radio {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 10px;
  margin-right: 40px;
}

.label_owner {
  padding-right: 20px;
}


/* modal button */
.message_title {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 16px; 
}

.message_style {
  width: 100%;
  outline: none;
  border: 2px solid #1a1a1a;
  padding: 5px 10px;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 12px; 
  border-radius: 20px;
  margin-top: 10px;
}


.btn_modal_1 {
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .btn_modal_1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .btn_modal_1:hover {
  color: #e8e8e8;
 }
 
 .btn_modal_1:hover::before {
  width: 100%;
 }

 .btn_modal_2 {
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .btn_modal_2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .btn_modal_2:hover {
  color: #e8e8e8;
 }
 
 .btn_modal_2:hover::before {
  width: 100%;
 }