.container_left_right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.container_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 0px 0px 20px;
  width: 30%;
}

.container_right {
  display: flex;
  margin-top: 30px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}


/* category */
.category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.category_title {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 21px;
  padding-bottom: 20px;
}

.category_left>p {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding-top: 10px;
}

.category_right>p {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding-top: 10px;
}